/* CSS Variables */
  :root{
    --primary-a-color: hsl(228, 45%, 44%);
    --body-paragraph: 1rem;
    --bg-color: hsl(148, 38%, 91%);
    --container-bg-color: hsl(0, 0%, 100%);
    --container-box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
    --container-margin: 0.625rem;
    --container-padding: 1.5625rem;
    --border-line: 1px solid hsl(186, 15%, 59%);
    --light-grey: hsl(186, 15%, 59%);
    --dark-grey: hsl(187, 24%, 22%);
    --font-karla: 'Karla' Sans-Serif;
    --left-align: left;
    --hover-color: 0.3px solid hsl(169, 82%, 27%);
    --button-bg: hsl(169, 82%, 27%);
    --button-color: hsl(0, 0%, 100%);
    --mobile-input-width: 98%;
    --asteridk-size: 1rem;
  }
  html, .body{
      margin: 0;
      padding: 0;
      background: var(--bg-color);
      font-family: var(--font-karla);
    }
    .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .wrapper h1{
      display: none;
    }
    .wrapper h2{
      font-weight: 700;
      color: var(--dark-grey);
      text-align: var(--left-align);
    }
    .container{
      max-width: 46.875rem;
      max-height: 56.24rem;
      text-align: center;
      background: var(--container-bg-color);
      border-radius: 20px;
      margin: var(--container-margin);
      padding: var(--container-padding);
      box-shadow: var(--container-box-shadow);
      -webkit-box-shadow: var(--container-box-shadow);
      -moz-box-shadow: var(--container-box-shadow);
      font-size: var(--body-paragraph);
    }
    .container .asterisk{
      font-size: var(--asterisk-size);
      color: var(--button-bg);
    }
    label, 
    .fname-label,
    .lname-label,
    .email-label,
    .message-label,
    .checkbox,
    .container p{
      font-weight: 400;
      color: var(--dark-grey);
      text-align: var(--left-align);
    }
    .form-names, .query_border{
      display: inline-block;
      text-align: var(--left-align);
    }
    #fname, #lname{
      border: var(--border-line);
      width: 15.22rem;
    }
    #email{
      border: var(--border-line);
      width: 31.25rem;
    }
    .query-heading{
      text-align: var(--left-align);
    }
    .query_border{
      border: var(--border-line);
      width: 14.16rem;
      padding-inline-start: 1.44rem;
      line-height: 280%;
    }
    textarea{
      border: var(--border-line);
      width: 31.25rem;
      border-radius: 8px;
      outline: none;
      cursor: pointer;
      height: 6.25rem;
    }
    .checkbox{
      margin-block-start: 1.875rem;
      margin-block-end: 1.875rem;
      cursor: pointer;
    }
    button{
      width: 31.25rem;
      background: var(--button-bg);
      color: var(--bg-color);
      border: none;
      cursor: pointer;
      font-weight: 700;
    }
    input{
      cursor: pointer;
    }
    input[type=text],
    input[type=email],
    .query_border,
    button{
      height: 2.6rem;
      border-radius: 8px;
      outline: none;
    }
    input[type=text]:hover,
    input[type=email]:hover,
    .query_border:hover,
    textarea:hover{
      outline: var(--hover-color);
    }
    .attribution { 
      text-align: center;
      display: none;
    }
    .attribution a { 
      color: var(--primary-a-color);
    }
  
  @media (max-width: 789px){
   .form-names, 
   .query_border{
     display: block;
     text-align: center;
   }
      #fname, 
      #lname, 
      #email,
      textarea,
      button{
      width: var(--mobile-input-width);
      cursor: none;
    }
    .query_border{
      border: var(--border-line);
      width: 91.2%;
      margin-block-end: 1.25rem;
      text-align: var(--left-align);
      cursor: none;
    }
    textarea{
      height: 12.5rem;
    }
  }