/* CSS Variables */
  :root{
    --primary-a-color: hsl(228, 45%, 44%);
    --bg-color: hsl(148, 38%, 91%);
    --container-bg-color: hsl(0, 0%, 100%);
    --container-margin: 0.625rem;
    --container-padding: 1.5625rem;
    --border-line: 1px solid hsl(187, 24%, 22%);
    --dark-grey: hsl(187, 24%, 22%);
    --font-karla: Karla;
    --left-align: left;
    --button-bg: hsl(169, 82%, 27%);
    --button-color: hsl(0, 0%, 100%);
  }
  html, .body{
      margin: 0;
      padding: 0;
      background: var(--bg-color);
      font-family: var(--font-karla);
    }
    .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .wrapper h1{
      display: none;
    }
    .wrapper h2{
      font-weight: 700;
      color: var(--dark-grey);
      text-align: var(--left-align);
    }
    .container{
      max-width: 46.875rem;
      max-height: 56.24rem;
      background: var(--container-bg-color);
      border-radius: 20px;
      margin: var(--container-margin);
      padding: var(--container-padding);
      text-align: center;
    }
    label, 
    .fname-label,
    .lname-label,
    .email-label,
    .message-label,
    .checkbox{
      font-weight: 400;
      text-align: var(--left-align);
    }
    .form-names, .query_border{
      display: inline-block;
      text-align: var(--left-align);
    }
    #fname, #lname{
      width: 15.22rem;
    }
    #email{
      width: 31.25rem;
    }
    .query-heading{
      text-align: var(--left-align);
    }
    .query_border{
      border: var(--border-line);
      width: 15.625rem;
    }
    textarea{
      width: 31.25rem;
    }
    button{
      width: 31.25rem;
      background: var(--button-bg);
      color: var(--bg-color);
    }
    .attribution { 
      font-size: 11px; 
      text-align: center;
      display: none;
    }
    .attribution a { 
      color: var(--primary-a-color);
    }
  
  @media (max-width: 789px){
   .form-names, .query_border{
     display: block;
   }
      #fname, #lname{
      width: 240px;
    }
    #email{
      width: 240px;
    }
    .query-heading{
      text-align: var(--left-align);
    }
    .query_border{
      border: var(--border-line);
      width: 240px;
    }
    textarea{
      width: 240px;
    }
    button{
      width: 240px;
      background: var(--button-bg);
      color: var(--bg-color);
    }
  }